<form (ngSumit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
  <div class="form-group">
    <label for ="title">Título: </label>
    <input type="text"
    placeholder="Informe um título"
    formControlName="title"
     required/>
  </div>
<div *ngIf="title.invalid && formDir.submitted" class="validation-error">
  <!--<div *ngIf="title.invalid && formDir.submitted" class="validation-error">-->
  <p *ngIf="title.errors?.['required'] ">O título é obrigatório</p>

</div>

  <div class="form-group">
    <label for ="description">Descrição: </label>
    <textarea placeholder="Descreva o seu momento, ok?"
    formControlName="description"
     required>
    </textarea>

  </div>
<!--
  <div *ngIf="description.invalid && formDir.submitted" class="validation-error">
    <p> O descrição é obrigatória</p>

  </div>
-->
<div *ngIf="description.invalid && formDir.submitted" class="validation-error">
  <p *ngIf="description.errors?.['required'] "> A descrição é obrigatória</p>

</div>

  <div class="form-group">
    <label for="image" > Faça o upload da imagem/foto: </label>
    <input type="file">
  </div>
<input type="submit" value="{{ btnText }}">

</form>
